/**
* Import font
*/
@import "~system-font-css/system-font";

$fontFamily: "system-ui";

/** Import Design System Styles */
@import "~@nypl/design-system-react-components/dist/styles.css";

@import "./../src/components/SearchHeader/SearchHeader.scss";

@import "./components/IFrameReader.scss";
@import "./components/Loading.scss";

html {
  font-family: $fontFamily;
  height: 100%;
}
body {
  height: 100%;
}

// min height on header container to prevent content shift on page load
#nypl-header {
  min-height: 62px;
}
@media screen and (min-width: 832px) {
  #nypl-header {
    min-height: 130px;
  }
}

@keyframes bounceAndColor {
  0% {
    transform: translateY(0);
    background-color: #006166;
  }
  4.1% {
    transform: translateY(-2px);
    background-color: #3b7f6f;
  }
  8.2% {
    transform: translateY(-4px);
    background-color: #799f79;
  }
  12.3% {
    transform: translateY(-6px);
    background-color: #b8bf83;
  }
  16.5% {
    transform: translateY(-8px);
    background-color: #f9e08e;
  }
  20.6% {
    transform: translateY(-6px);
    background-color: #b8bf83;
  }
  24.7% {
    transform: translateY(-4px);
    background-color: #799f79;
  }
  28.8% {
    transform: translateY(-2px);
    background-color: #3b7f6f;
  }
  33% {
    transform: translateY(0);
    background-color: #006166;
  }
  100% {
    transform: translateY(0);
    background-color: #006166;
  }
}

@media screen and (max-width: 767px) {
  body.research-assistant-page #feedbackBox-id-feedback-open {
    position: fixed !important;
    bottom: 92px !important;
    left: auto !important;
    transform: none !important;
    z-index: 1000;
  }
}
