allure-pytest==2.15.2
ipykernel==7.2.0
pre-commit==4.3.0
pytest-asyncio==1.3.0
pytest-cov==7.0.0
pytest-mock==3.15.1
pytest-retry==1.7.0
pytest-timeout==2.4.0
pytest-xdist==3.8.0
pytest==9.0.2
requests-mock==1.12.1
ruff==0.11.7
ipykernel==7.2.0
transformers==5.8.0 # used in dev_scripts/embedding/huggingface_sagemaker_throughput.py
